<main>
  <form [formGroup]="calculatorForm">
    <div class="container-input">      
      <label for="dolar">Dólar</label>
      <input 
        currencyMask 
        type="text" 
        id="dolar"
        formControlName="dolar"
        [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left' }"
      >
    </div>

    <div class="container-input">
      <label for="dolar">Taxa do Estado</label>
      <input 
        currencyMask
        type="text" 
        id="rate"
        formControlName="rate"
        [options]="{ prefix: '% ', align: 'left' }"
      >
    </div>
  </form>

  <div class="container-radio">
    <p>Tipo de compra</p>
    <div class="container">
      <div>
        <input type="radio" name="type">
        <label for="type">Dinheiro</label>
      </div>

      <div>
        <input type="radio" name="type">
        <label for="type">Cartão</label>
      </div>
    </div>
  </div>

  <button>
    <img src="../../../assets/Transfer.svg" alt="">
    Converter
  </button>
</main>
