* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('./assets/Mask.svg');
  background-repeat: no-repeat;
  background-position:calc(0% + 500px) calc(0% - 70px);
}